.scroll_container {
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 10;
}

.scroll_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: lightskyblue;
    width: 55px;
    height: 55px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
}

.scroll_btn:hover {
    background: lightblue;
    cursor: pointer;
}

.btn_show {
    opacity: 100;
    pointer-events: all;
}

.btn_hide {
    opacity: 0;
    pointer-events: none;
}