.scroll_container {
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 10;
}

.scroll_btn {
    border: none;
    background-color: #FF0066;
    width: 55px;
    height: 55px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
}

.scroll_btn:hover {
    background-color: #ff154f;
}

.btn_show {
    opacity: 100;
    pointer-events: all;
}

.btn_hide {
    opacity: 0;
    pointer-events: none;
}